.btn-primary {
  background-color: black;
  color: #A7D129;
  font-size: 18px;
  border: 3px solid #A7D129;
}

.btn-primary:hover {
  background-color: #A7D129;
  color: black;
  border: 3px solid #A7D129;
}

.btn-primary:focus {
  background-color: #A7D129;
  color: black;
  border: 3px solid #A7D129;
}

.btn-primary:active {
  background-color: #A7D129;
  color: black;
  border: 3px solid #A7D129;
}
