// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "button";
@import "table";

.black-wrapper {
  background-color: black;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,36,25,0.9) 80%), url('https://cdn.allwallpaper.in/wallpapers/2400x1350/15401/alcohol-black-background-drinks-martini-splashes-2400x1350-wallpaper.jpg');
}

.container {
  vertical-align: center;
  h1 {
    color: #A7D129;
    font-size: 26px;
  }
}

.form-control-label {
  color: #A7D129;
}

#banner-typed-text {
  color: #A7D129;
  font-size: 20px;
}

.footer {
  display: flex;
  a {
    margin: 20px;
  }
}
