// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "button";
@import "table";

.list-group-item {
  background-color: transparent;
  color: #A7D129;
  border: 2px solid #616F39;
  width: 40vw;
  font-size: 18px;
  margin-top: 10px;
}

.list-group {
  margin-top: 30px;
}

.badge {
  background-color: #A7D129;
  color: black;
}
