// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.black-wrapper {
  background-color: black;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,36,25,0.9) 80%), url('https://cdn.allwallpaper.in/wallpapers/2400x1350/15401/alcohol-black-background-drinks-martini-splashes-2400x1350-wallpaper.jpg');
}

.container {
  vertical-align: center;
  h1 {
    color: #A7D129;
    font-size: 26px;
  }
}

.form-group {
  color: #A7D129;
}

#banner-typed-text {
  color: #A7D129;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  a {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
